<div class="bodyContainer">
  <h1>Login</h1>
  <div class="sign">
    <%= form_for(:session, url: login_path) do |f| %>

        <div>
          <p>Username:</p>
            <%= f.text_field :username, placeholder: :username %>
        </div>

          <div class="sign">
            <p>Password: </p>
            <%= f.password_field :password, placeholder: :password %>
        </div>

          <div class="sign">
            <%= f.submit 'Login' %>
            <br>
            <li ><a href="/users/new" style= "color:black;text-decoration:  none;font-size:  18px;" >Sign Up</a></li>

        </div>
    <% end %>
  </div>
</div>
