<!-- This is the homepage -->
<div class="bodyContainer">
  <h1><em>Bonjour!</em> </h1>
  <!-- <p>Find me in app/views/users/index.html.erb</p> -->


  <div class="userPost">
      <% @posts.each do |post| %>
            <h3><%= post.title %></h3>
          <p>
              <%= post.content %>
          </p>
          <br>
      <% end %>
  </div>
