<!-- <h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p> -->

<div class="bodyContainer">

  <h1><em>Bienvenue</em> <%= @user.fname %> </em>!</h1>

  <div class="userPost">
    <% @posts.each do |post| %>
          <h3><%= post.title %></h3>
        <p>
            <%= post.content %>
        </p>
        <br>
    <% end %>
  </div>


    <form class="postInput" action='/users' method="post">

        <input id="titleForm" placeholder="Title" type="text" name="title" >

        <textarea id="titlePost" name="blog" placeholder="Post" rows="8" cols="80"></textarea>

        <input id="editBtn" type='submit' name="" value="Save">

    </form>
</div>



  <p>Click here to delete account:
      <%= link_to("Delete Account", user_path(@user), method: :delete) %>
  </p>
