<!-- <h1>Users#show</h1>
<p>Find me in app/views/users/show.html.erb</p> -->

<div class="bodyContainer">

  <h1><em>Bienvenue</em> <%= @user.fname %> </em>!</h1>



  <%= form_for @user do |f| %>

          <form class="" action='/users' method="post">
            <input id="titleForm" placeholder="Title" type="text" name="title" >
            <input id="contentForm" textarea name="blog" placeholder="Post" rows="8" cols="80"></textarea>
            <input id="editBtn" type='submit' name="" value="submit">
          </form>

    <% end %>

</div>




  <p>Click here to delete account:
      <%= link_to("Delete Account", user_path(@user), method: :delete) %>
  </p>
