

<!-- <h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p> -->
<div class="bodyContainer">

  <h1><%= @user.fname %>'s </em> Posts!</h1>

  <div class="userPost">
    <% @posts.each do |post| %>
          <div class="indiePost">
                <h3><%= link_to(post.title,user_post_path(@user,post)) %></a></h3>
          </p>


         </div>
        <br>
    <% end %>


  </div>
