<!-- <h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p> -->
<div class="bodyContainer">

  <h1><%= @user.fname %>'s </em> Posts!</h1>

  <div class="userPost">
    <% @posts.each do |post| %>
          <h3><%= post.title %></h3>
        <p>
            <%= post.content %>
        </p>
        <br>
    <% end %>
  </div>
