body{
  background-image: url("pink_spots.jpg");
  font-family: 'Dancing Script', cursive;
}

header{
  background-color:rgba(0, 0, 0, 0.62);
  margin: -1%;
  border: solid black 1px;
}

header a{
  text-decoration: none;
  color: #fcf3f4;
  font-size: 30px;
  text-shadow: -5px 2px 8px black;
}

ul{
  text-align: right;
  padding: 0% 3%;
}

li {
  list-style: none;
  justify-content: center;
  margin: 30px;
  padding: 14px;
  display: inline-block;
  font-size: 41px;
  color: white;
  text-shadow: -3px 3px 9px black;
}

.users{
  margin: 2%;
}

.signContainer{
  margin: 4% 8%;
}

.sign{
  margin: 2%;
  padding: 1%;
}

.bodyContainer{
  background-color: #fdf9f894;
  margin: 0% -1%;
  text-align: center;
  padding: 2%;
  border: solid black 1px;
}

.sidebar{
  background-color: #fdf9f894;
  margin: 0% 35%;
  text-align: center;
  padding: 2%;
  right: 9px;
  position: relative;
  left: -36%;
  font-size: 12px;
}

.sidebar a{
  color: #5fb8ae;
  text-decoration: none;
  font-size: 22px;
}

.sidebar h1{
  padding: 6%;
}

.accountEd{
  margin: 3%;
}

#signForm{
  margin: 3% 0%;
}
